{% extends 'MesdReportDemoBundle:Report:report.html.twig' %}

{% set subtitle = 'Reports' %}

{% block main %}
    <ul>
    {% for resource in resources %}
        {% if 'folder' == resource.wsType %}
            <li><a class="mrd-folder" href="#"><span class="fa fa-folder"> </span> {{ resource.label }}</a></li>
        {% else %}
            <li><a class="mrd-report" href="#"><span class="fa fa-file"> </span> {{ resource.label }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock main %}