{% extends 'MesdReportDemoBundle:Report:report.html.twig' %}

{% set subtitle = 'Reports' %}

{% block main %}
    <div id="jstree" data-url="{{ url('MesdReportDemoBundle_reports_list_json') }}"></div>
{% endblock main %}